		body
		{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-size: 13.5px;
			font-family: 'Poppins', sans-serif;
			background-color: #15171A;
			color: #fcfcfd;
		}
		::selection
		{
			background: #242323;
		}
		@font-face
		{
			src: url("fonts/Glitten-Regular.otf");
			font-family: glitt;
		}
		@font-face
		{
			src: url("fonts/Segaon-soft-black.otf");
			font-family: sega;
		}
		div
		{
			padding-left: 5%;
			padding-right: 5%;
		}
		.navigation
		{
			display: flex;
			align-items: center;
			padding: 2px 5%;
			background-color: #020104;
			box-shadow: 0 0 20px rgb(0, 0, 0, 0.7);
		}
		.navigation ul li
		{
			display: inline;
			padding: 15px;
			font-size: 15px;
		}
		.logo
		{
			margin-right: auto;
			font-family: glitt;
			cursor: pointer;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			font-size: 30px;
		}
		.logo a
		{
			color: #fcfcfd;
			text-decoration: none;
		}
		.navigation li a
		{
			text-decoration: none;
			list-style: none;
			color: #a0a0a0;
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			position: relative;
		}
		.navigation li a
		{
			transition: all 0.3s ease 0s;
		}
		.navigation li a:hover
		{
			color: #ffffff;
		}
		.navigation li a:after
		{
			content: "";
			position: absolute;
			background-color: #ff3c78;
			width: 0px;
			height: 2.5px;
			top: -3.5px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		.navigation li a:hover:after
		{
			width:100%;
		}
		.section1
		{
			padding: 0 5%;
			font-size: 20px;
		}
		.p1
		{
			font-size: 17px;
			text-align: justify;
			text-justify: inter-word;
			padding-top: 100px;
			display: flex;
			gap: 100px;
		}
		.p1 .pp1 b
		{
			font-family: sega;
			font-size: 55px;
			padding-bottom: 10px;
			color: #ffffff;
		}
		.pp1
		{
			line-height: 30px;
		}
		.p1 img
		{
			cursor: pointer;
		}
		h1
		{
			font-family: sega;
		}
		p
		{
			color: #adacaf;
		}
		.gallery1
		{
			margin-top: 50px;
			margin-right: auto;
			margin-left: auto;
			display: flex;
			width: 700px;
			gap: 5px;
			padding-top: 20px;
		}
		.gallery1 img
		{
			height: 350px;
			flex: 1;
			object-fit: cover;
			object-position: center;
			overflow: hidden;
			transition: all 0.3s ease 0s;
			cursor: pointer;
		}
		.gallery1 img:hover
		{
			flex: 4;
		}
		.heading1
		{
			cursor: default;
			font-size: 13.5px;
			text-align: center;
			font-family: tahoma;
			font-weight: normal;
		}
		#lightbox
		{
			position: fixed;
			z-index: 1000;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(0, 0, 0, .8);
			display: none;
		}
		#lightbox.active
		{
			display: flex;
		}
		#imagew
		{
			margin-right: 79%;
			margin-left: 21%;
		}
		.edutable
		{
			margin: 25px 0;
			margin-top: 100px;
			margin-bottom: 100px;
			margin-right: auto;
			margin-left: auto;
			border-collapse: collapse;
			min-width: 400px;
			padding: 15px 15px;
			background-color: #15171A;
			border-radius: 5px 5px 0 0 ;
			overflow: hidden;
			box-shadow: 0 0 20px rgb(255, 60, 120, 0.7);
			transition: all 0.3s ease 0s;
			cursor: default;
		}
		.edutable th
		{
			background-color: #ff3c78;
			padding: 15px 15px;
			color: white;
		}
		.edutable td
		{
			padding: 20px;
		}
		.edutable tbody tr
		{
			border-bottom: 1px solid #4F5154;
			transition: all 0.3s ease 0s;
		}
		.edutable tbody tr:hover
		{
			color: #ff3c78;
		}
		.edutable tbody tr:nth-of-type(odd)
		{
			background-color: #2E3033;
		}
		.edutable tbody tr:last-of-type
		{
			border-bottom: 2px solid #ff3c78;
		}
		.contact-table
		{
			margin-top: 65px;
			margin-right: auto;
			margin-left: auto;
			padding: 15px 15px;
			cursor: default;
		}
		.contact-table td
		{
			padding: 20px;
			line-height: 20px;
		}
		.contact-table td:nth-of-type(even)
		{
			background-color: #2e3033;
		}
		.table3
		{
			margin-right: auto;
			margin-left: auto;
			margin-top: 100px;
		}
		.table3 td
		{
			text-align: center;
			align-items: center;
			align-content: center;
			padding: 40px;
		}
		.table3 img
		{
			object-fit: contain;
			cursor: pointer;
		}
		#imagey
		{
			margin-left: 29%;
		}
		.content p
		{
			font-size: 20px;
			color: #adacaf;
			padding-top: 20px;
		}
		.content
		{
			margin-left: 5%;
			margin-top: 10%;
		}
		.content .btn
		{
			display: inline-block;
			background: black;
			border-radius: 100px;
			padding: 10px 20px;
			box-sizing: border-box;
			text-decoration: none;
			color: #adacaf;
			box-shadow: none;
			font-weight: bold;
			font-size: 20px;
			margin-top: 10px;
			transition: all 0.3s ease 0s;
			border: 2px solid #adacaf;
		}
		.content .btn:hover
		{
			box-shadow: 0 0 20px rgb(255, 60, 120);
			color: black;
			background-color: white;
			border-color: white;
		}
		.feature-img
		{
			height: 88%;
			position: absolute;
			bottom: 0;
			right:6%;
		}
		.content h1
		{
			font-size: 60px;
			font-weight: 100;
			margin-top: 24px;
			margin-bottom: 15px;
			font-family: glitt;
			color: #ff3c78;
			line-height: 30px;
		}
		.table4
		{
			margin-right: auto;
			margin-left: auto;
			margin-top: 100px;
			border-top: 1px solid #020104;
			border-collapse: collapse;
			border-radius: 6px;
		}
		.table4 td
		{
			text-align: center;
			align-items: center;
			align-content: center;
			padding: 40px;
			background-color: #020104;
			border-top: 1px solid #020104;
			border-collapse: collapse;
			border-radius: 6px;
			max-width: 200px;
			text-align: justify;
		}
		.table4 img
		{
			object-fit: cover;
			cursor: pointer;
		}