		body
		{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-size: 13.5px;
			font-family: tahoma;
			background-color: #020104;
			color: #fcfcfd;
		}
		::selection
		{
			background: #242323;
		}
		@font-face
		{
			src: url("fonts/Glitten-Regular.otf");
			font-family: glitt;
		}
		@font-face
		{
			src: url("fonts/Segaon-soft-black.otf");
			font-family: sega;
		}
		.navigation
		{
			display: flex;
			align-items: center;
			padding: 2px 5%;
		}
		.navigation ul li
		{
			display: inline;
			padding: 15px;
			font-size: 15px;
		}
		.logo
		{
			margin-right: auto;
			font-family: glitt;
			cursor: pointer;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			font-size: 30px;
		}
		.logo a
		{
			color: #fcfcfd;
			text-decoration: none;
		}
		li a
		{
			text-decoration: none;
			list-style: none;
			color: #edf0f1;
		}
		.navigation li a
		{
			transition: all 0.3s ease 0s;
		}
		.navigation li a:hover
		{
			color: #df0a10;
		}
		.section1
		{
			padding: 0 5%;
			font-size: 20px;
		}
		.p1
		{
			padding-left: 5%;
			padding-right: 50%;
			font-size: 17px;
			text-align: justify;
			text-justify: inter-word;
		}
		h1
		{
			font-family: sega;
		}
		p
		{
			color: #adacaf
		}
		.gallery1
		{
			margin-top: 50px;
			margin-right: auto;
			margin-left: auto;
			display: flex;
			width: 600px;
			gap: 5px;
		}
		.gallery1 img
		{
			height: 350px;
			flex: 1;
			object-fit: cover;
			object-position: center;
			overflow: hidden;
			transition: all 0.3s ease 0s;
			cursor: pointer;
		}
		.gallery1 img:hover
		{
			flex: 4;
		}
