		body
		{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-size: 13.5px;
			font-family: tahoma;
			background-color: #222126;
			color: #edf0f1;
		}
		@font-face
		{
			src: url("fonts/Glitten-Regular.otf");
			font-family: glitt;
		}
		.navigation
		{
			display: flex;
			align-items: center;
			padding: 2px 5%;
		}
		.navigation ul li
		{
			display: inline;
			padding: 5px;
			font-size: 15px;
		}
		.logo
		{
			margin-right: auto;
			font-family: glitt;
			cursor: pointer;
		}
		li a
		{
			text-decoration: none;
			list-style: none;
			color: #edf0f1;
		}
		.section1
		{
			padding: 0 5%;
			font-size: 20px;
		}